.reset-password {
  width: 100%;
  height: 100vh;
  background: url('../../../../../content/images/banner/reset-password.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .title {
    background: url('../../../../../content/images/logo/infocity-black-text.png') no-repeat center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .img-success {
    background: url('../../../../../content/images/reset-success.png') no-repeat center;
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
      font-weight: 700;
    }
  }

  .margin-form {
    margin-bottom: 10px;
  }

  .ant-btn-primary {
    width: 100%;
    border-radius: 5px;
    background-color: #d6b359;
    border-color: #d6b359;
  }
  .ant-card-body {
    padding-left: 80px;
    padding-right: 80px;
  }
  .ant-card {
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -270px;
    width: 600px;
  }
  .form-radio {
    margin-bottom: 10px;
  }

  .ant-radio-inner::after {
    background-color: #d6b359;
  }
  .ant-radio-checked .ant-radio-inner {
    border-color: #d6b359;
  }

  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-input:focus + .ant-radio-inner {
    border-color: #d6b359;
  }

  .button {
    font-weight: 600;
    margin-bottom: 15px;
  }
}
