.register-visitor {
  padding: 20px 10%;

  .title-page {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }

  .message {
    margin: 10px 0 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .register-visitor {
    padding: 10px;
  }
}
